* {
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator {
    background-color: #21262d;
    border-radius: 8px;
    color: #ecf2f8;
    max-width: 800px;
    padding: 16px;
}

.display {
    background-color: #161b22;
    border-radius: 8px;
    color: #ddd;
    height: 120px;
    margin-bottom: 8px;
    text-align: end;
    padding: 10px;
}

.btns {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.btns > div {
    align-items: center;
    background-color: #89929b;
    border-radius: 40px;
    display: flex;
    height: 80px;
    justify-content: center;
    text-align: center;
    width: 80px;
    margin: 4px;
    padding: 8px;
}

.btns > .btn-clear {
    grid-column: 1 / -1;
    width: 100%;
}